<div class="row clearfix">
  <div class="col-md-10 col-md-offset-1">
    <router-outlet></router-outlet>
  </div>
  <div style="position:fixed;top:20%;right:5%">
    <ul class="nav nav-tabs nav-stacked" >
       <!-- style=" position: fixed; " -->
      <li class="active">
        <a data-to="section-1">第一部分</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/charts/user-charts" href="#">
          <i class="fa fa-pie-chart"></i> 用户画像
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/charts/job-charts" href="#">
          <i class="fa fa-pie-chart"></i> 职位画像
        </a>
      </li>

    </ul>
  </div>
  
  <!-- <div class="col-md-5">
        

    </div>
    <div class="col-md-5">
      


    </div> -->
</div>