<div class="col-md-10">
  <div class="panel panel-default panel-chart">
    <div class="panel-body" >
        <div echarts [options]="option3" class="demo-chart"></div>
    </div>
  </div>
  <div class="panel panel-default panel-chart">
    <div class="panel-body">
      <div echarts [options]="option8" class="demo-chart"></div>
    </div>
  </div>
  <div class="panel panel-default panel-chart">
    <div class="panel-body"  >
        <div echarts [options]="option4" class="demo-chart"></div>
    </div>
  </div>
  <div class="panel panel-default panel-chart">
    <div class="panel-body">
      <div echarts [options]="option6" class="demo-chart"></div>
    </div>
  </div>
  <div class="panel panel-default panel-chart">
    <div class="panel-body"  >
        <div echarts [options]="option7" class="demo-chart"></div>
    </div>
  </div> 
</div>