<div class="col-md-10">
    <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option3" class="demo-chart"></div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option4" class="demo-chart"></div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div echarts [options]="option6" id='main-word-cloud'></div>
    <div echarts [options]="option7" id='main-word-cloud'></div>
</div>
<div class="col-md-10">
    <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option5" class="demo-chart"></div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option8" class="demo-chart"></div>
        </div>
    </div>
    <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option9" class="demo-chart"></div>
        </div>
    </div>
    <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option10" class="demo-chart"></div>
        </div>
    </div>
    <!-- <div class="panel panel-default panel-chart">
        <div class="panel-body">
            <div echarts [options]="option11" class="demo-chart"></div>
        </div>
    </div> -->
</div>